# Форматы данных (1)

Материалы:
* Макрушин С.В. "Лекция 4: Форматы данных"
* https://docs.python.org/3/library/json.html
* https://docs.python.org/3/library/pickle.html
* https://www.crummy.com/software/BeautifulSoup/bs4/doc.ru/bs4ru.html
* Уэс Маккини. Python и анализ данных

In [1]:
import json
import pickle
import pandas as pd
import numpy as np

from pprint import pprint as pp

## Задачи для совместного разбора

1. Вывести все адреса электронной почты, содержащиеся в адресной книге `addres-book.json`

2. Вывести телефоны, содержащиеся в адресной книге `addres-book.json`

3. По данным из файла `addres-book-q.xml` сформировать список словарей с телефонами каждого из людей.

## Лабораторная работа №4

### JSON

1.1 Считайте файл `contributors_sample.json`. Воспользовавшись модулем `json`, преобразуйте содержимое файла в соответствующие объекты python. Выведите на экран информацию о первых 3 пользователях.

In [2]:
with open("./data/data/contributors_sample.json", 'r', encoding="UTF-8") as fp:
    contributors_sample_json = json.load(fp)

pp(contributors_sample_json[:3])

[{'address': '01261 Cameron Spring\nTaylorfurt, AK 97791',
  'id': 35193,
  'jobs': ['Energy engineer',
           'Engineer, site',
           'Environmental health practitioner',
           'Biomedical scientist',
           'Jewellery designer'],
  'mail': 'jsalazar@gmail.com',
  'name': 'Lindsey Nguyen',
  'sex': 'F',
  'username': 'uhebert'},
 {'address': '66992 Welch Brooks\nMarshallshire, ID 56004',
  'id': 91970,
  'jobs': ['Music therapist',
           'Volunteer coordinator',
           'Designer, interior/spatial'],
  'mail': 'bhudson@gmail.com',
  'name': 'Cheryl Lewis',
  'sex': 'F',
  'username': 'vickitaylor'},
 {'address': 'Unit 1632 Box 2971\nDPO AE 23297',
  'id': 1848091,
  'jobs': ['Management consultant',
           'Engineer, structural',
           'Lecturer, higher education',
           'Theatre manager',
           'Designer, textile'],
  'mail': 'darren44@yahoo.com',
  'name': 'Julia Allen',
  'sex': 'F',
  'username': 'sheilaadams'}]

1.2 Выведите уникальные почтовые домены, содержащиеся в почтовых адресах людей

In [12]:
mails = []
for persons in contributors_sample_json:
    dom = persons["mail"].split("@")[1]
    if dom not in mails:
        mails.append(dom)

mails

['gmail.com', 'yahoo.com', 'hotmail.com']

1.3 Напишите функцию, которая по `username` ищет человека и выводит информацию о нем. Если пользователь с заданным `username` отсутствует, возбудите исключение `ValueError`

In [9]:
flag = True
name = "uhebert"
for p in contributors_sample_json:
    if p["username"] == name:
        print(person)
        flag = False

if flag:
    raise ValueError

{'username': 'mistyray', 'name': 'Sandra Johnson', 'sex': 'F', 'address': '9745 David Hollow Apt. 441\nNorth Stacymouth, NE 48044', 'mail': 'andrew22@hotmail.com', 'jobs': ['Associate Professor', 'Personnel officer', 'Industrial/product designer'], 'id': 344321}

1.4 Посчитайте, сколько мужчин и женщин присутсвует в этом наборе данных.

In [13]:
count_males = 0
count_females = 0
for p in contributors_sample_json:
    if p["sex"] == "M":
        count_males += 1
    elif p["sex"] == "F":
        count_females += 1

count_males, count_females

(2064, 2136)

1.5 Создайте `pd.DataFrame` `contributors`, имеющий столбцы `id`, `username` и `sex`.

In [14]:
contributors = pd.DataFrame(contributors_sample_json).drop(columns=['address', 'mail', 'jobs', 'name'])
contributors

           username sex       id
0           uhebert   F    35193
1       vickitaylor   F    91970
2       sheilaadams   F  1848091
3          nicole82   F    50969
4            jean67   M   676820
...             ...  ..      ...
4195  stevenspencer   F   423555
4196      rwilliams   M    35251
4197      lmartinez   F   135887
4198     brendahill   M   212714
4199       mistyray   F   344321

[4200 rows x 3 columns]

1.6 Загрузите данные из файла `recipes_sample.csv` (__ЛР2__) в таблицу `recipes`. Объедините `recipes` с таблицей `contributors` с сохранением строк в том случае, если информация о человеке отсутствует в JSON-файле. Для скольких человек информация отсутствует?

### pickle

2.1 На основе файла `contributors_sample.json` создайте словарь следующего вида: 
```
{
    должность: [список username людей, занимавших эту должность]
}
```

2.2 Сохраните результаты в файл `job_people.pickle` и в файл `job_people.json` с использованием форматов pickle и JSON соответственно. Сравните объемы получившихся файлов. При сохранении в JSON укажите аргумент `indent`.

2.3 Считайте файл `job_people.pickle` и продемонстрируйте, что данные считались корректно.

### XML

3.1 По данным файла `steps_sample.xml` сформируйте словарь с шагами по каждому рецепту вида `{id_рецепта: ["шаг1", "шаг2"]}`. Сохраните этот словарь в файл `steps_sample.json`

3.2 По данным файла `steps_sample.xml` сформируйте словарь следующего вида: `кол-во_шагов_в_рецепте: [список_id_рецептов]`

3.3 Получите список рецептов, в этапах выполнения которых есть информация о времени (часы или минуты). Для отбора подходящих рецептов обратите внимание на атрибуты соответствующих тэгов.

3.4 Загрузите данные из файла `recipes_sample.csv` (__ЛР2__) в таблицу `recipes`. Для строк, которые содержат пропуски в столбце `n_steps`, заполните этот столбец на основе файла  `steps_sample.xml`. Строки, в которых столбец `n_steps` заполнен, оставьте без изменений.

3.5 Проверьте, содержит ли столбец `n_steps` пропуски. Если нет, то преобразуйте его к целочисленному типу и сохраните результаты в файл `recipes_sample_with_filled_nsteps.csv`