# Работа с базами данных

Материалы:
* Макрушин С.В. Лекция 6: Работа с базами данных
* https://sqliteonline.com/
* https://docs.python.org/3/library/sqlite3.html
* https://www.geeksforgeeks.org/sql-join-set-1-inner-left-right-and-full-joins/
* https://www.datacamp.com/community/tutorials/group-by-having-clause-sql

## Задачи для совместного разбора

In [1]:
import csv
import pandas as pd
import numpy as np

from pprint import pprint as pp
import sqlite3

In [2]:
# test

con = sqlite3.connect('./sem6/Chinook_Sqlite.sqlite')
cur = con.cursor()

cur.close()
con.close()

1. Работая с базой данных `Chinook_Sqlite.sqlite`, найдите и выведите на экран имена и фамилии всех заказчиков из Канады

2. Найти и вывести на экран названия всех альбомов группы Accept

3. Создайте базу данных с названием вашей группы. В этой базе данных создайте таблицу Student, содержащую 2 столбца: id и name. Добавьте в таблицу Student информацию о студентах, сидящих с вами по соседству.

## Лабораторная работа 6

1. Создайте файл базы данных c названием `recipes.db`. Создайте объект-курсор.

In [3]:
conn = sqlite3.connect('./sem6/recipes.db')
curr = conn.cursor()

2. Напишите и выполните SQL-запрос для создания таблицы рецептов `Recipe`. Таблица должна содержать следующие поля:
`id`, `name`, `minutes`, `submitted`, `description`, `n_ingredients`. Определитесь с типами и составом ключевых полей.

In [4]:
conn = sqlite3.connect('./sem6/recipes.db')
curr = conn.cursor()

curr.execute("""
    CREATE TABLE Recipe(
        id INTEGER PRIMARY KEY, 
        name VARCHAR(64), 
        minutes INTEGER,
        submitted DATE,
        desciption TEXT,
        n_ingredients INTEGER)""")

3. Напишите и выполните SQL-запрос для создания таблицы отзывов `Review`. Таблица должна содержать следующие поля:
`id`, `user_id`, `recipe_id`, `date`, `rating`, `review`. Определитесь с типами полей, набором ключевых полей. При помощи внешнего ключа соедините две таблицы.

In [5]:
conn = sqlite3.connect('./sem6/recipes.db')
curr = conn.cursor()

curr.execute("""
    CREATE TABLE Review(
        id INTEGER PRIMARY KEY, 
        user_id INTEGER,
        recipe_id INTEGER,
        date DATE,
        rating INTEGER,
        review VARCHAR(128),
        FOREIGN KEY (recipe_id) REFERENCES Recipe(id))""")

4. Загрузите данные из файлов `reviews_sample.csv` (__ЛР2__) и `recipes_sample_with_tags_ingredients.csv` (__ЛР5__) в созданные таблицы

In [6]:
# TODO разобраться как убрать поле Unnamed:0 
# , index_col=0 
reviews_sample = pd.read_csv("./sem2/reviews_sample.csv")
reviews_sample = reviews_sample.set_index('Unnamed: 0')
#reviews_sample.drop(labels = ['Unnamed: 0'],axis = 0)
reviews_sample

,user_id,recipe_id,date,rating,review
Unnamed: 0,,,,,
370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...
1013457,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
158736,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
1059834,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
453285,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
691207,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

In [7]:
recipes_sample_with_tags_ingredients = pd.read_csv("./sem5/recipes_sample_with_tags_ingredients.csv")
recipes_sample_with_tags_ingredients

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,tags,n_tags,recipe_id,ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,11,an original recipe created by chef scott meska...,18,weeknight;time-to-make;course;main-ingredient;...,25,44123,unsalted butter*carrot*onion*celery*broccoli s...
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,3,my children and their friends ask for my homem...,0,15-minutes-or-less;time-to-make;course;prepara...,31,67664,milk*frozen juice concentrate*plain yogurt
2,i can t believe it s spinach,38798,30,1533,2002-08-29,5,"these were so go, it surprised even me.",8,30-minutes-or-less;time-to-make;course;main-in...,17,38798,onion*frozen chopped spinach*eggs*garlic powde...
3,italian gut busters,35173,45,22724,2002-07-27,7,my sister-in-law made these for us at a family...,0,60-minutes-or-less;time-to-make;course;prepara...,11,35173,sandwich bun*good seasonings italian salad dre...
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4,i think a fondue is a very romantic casual din...,0,30-minutes-or-less;time-to-make;course;main-in...,19,84797,beef steaks*vegetable oil*spicy mustard*fresh ...
...,...,...,...,...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16,this is based on a french recipe but i changed...,10,time-to-make;course;main-ingredient;cuisine;pr...,18,267661,dry white wine*eggs*cheddar cheese*baking powd...
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,22,"this is a traditional fresh plum cake, thought...",11,time-to-make;course;main-ingredient;cuisine;pr...,19,386977,unsalted butter*milk*flour*salt*vanilla*all-pu...
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,10,this is a traditional late summer early fall s...,0,time-to-make;course;main-ingredient;cuisine;pr...,20,103312,onion*milk*eggs*butter*flour*salt*pepper*sugar...
29998,zydeco soup,486161,60,227978,2012-08-29,7,this is a delicious soup that i originally fou...,0,ham;60-minutes-or-less;time-to-make;course;mai...,20,486161,onion*celery*dried thyme*dried oregano*fresh p...
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9,"i've heard of the 'cookies by design' company,...",10,30-minutes-or-less;time-to-make;course;prepara...,12,298512,butter*sour cream*egg*bisquick*light brown sug...

In [8]:
conn = sqlite3.connect('./sem6/recipes.db')
curr = conn.cursor()

for columun, row in reviews_sample.iterrows():
    curr.execute("""
        INSERT INTO Review(id, user_id, recipe_id, date, rating, review) 
        VALUES (?, ?, ?, ?, ?, ?)""", 
                (columun, row[0], row[1], row[2], row[3], row[4]))
conn.commit()

In [9]:
conn = sqlite3.connect('./sem6/recipes.db')
curr = conn.cursor()

for columun, row in recipes_sample_with_tags_ingredients.iterrows():
    curr.execute("""
        INSERT INTO Recipe(id, name, minutes, submitted, desciption, n_ingredients) 
        VALUES (?, ?, ?, ?, ?, ?)""", 
                (row[1], row[0], row[2], row[4], row[6], row[7]))
conn.commit()

5. Найдите все рецепты, для выполнения которых нужно ровно 10 ингредиентов. Выведите на экран первые 5 из найденных рецептов.

In [13]:
conn = sqlite3.connect('./sem6/recipes.db')
curr = conn.cursor()

onlyTenRecipe = """
    SELECT * 
    FROM Recipe
    WHERE n_ingredients=10;"""

curr.execute(onlyTenRecipe)
total = curr.fetchmany(5)

print(total)

[(246, 'lee s hot crab dip', 45, '1999-09-01', "lee's hot crab dip", 10), (289, 'feijoada  brazilian bean soup  ii', 150, '1999-10-04', 'brazilian bean soup', 10), (544, 'greek mushroom salad', 38, '1999-08-10', None, 10), (671, 'cucumber relish', 40, '1999-09-10', None, 10), (975, 'basil parmesan biscuits', 27, '1999-08-14', 'perfect with pasta or other italian dishes', 10)]

6. Найдите название рецепта, для выполнения которого требуется больше всего времени.

In [16]:
conn = sqlite3.connect('./sem6/recipes.db')
curr = conn.cursor()

totalTime = """
    SELECT *
    FROM Recipe
    WHERE minutes = (SELECT MAX(minutes) FROM Recipe);"""

curr.execute(totalTime)
total = curr.fetchone()

print(total)

(236274, 'strawberry liqueur', 129615, '2007-06-21', 'a beautiful light red shade with a delicious strawberry flavor.', 5)

7. Запросите у пользователя id рецепта и верните информацию об этом рецепте. Если рецепт отсуствует, выведите соответствующее сообщение.

In [19]:
conn = sqlite3.connect('./sem6/recipes.db')
curr = conn.cursor()

myRecipe = (30000, )

info_recipe = """
    SELECT *
    FROM Recipe
    WHERE id = ?;"""

curr.execute(info_recipe, myRecipe)
total = curr.fetchone()

if total:
    print(total)
else:
    print("Recipe not found!")

Recipe not found!

8. Найдите кол-во отзывов с рейтингом 5.

In [25]:
conn = sqlite3.connect('./sem6/recipes.db')
curr = conn.cursor()

rating = """
    SELECT COUNT(*)
    FROM Review
    WHERE rating = 5;"""

curr.execute(rating)
total = curr.fetchall()

print(total[0][0])

91361

9. Найдите кол-во уникальных рецептов, не имеющих отзывов с рейтингом, меньше 4.

In [31]:
conn = sqlite3.connect('./sem6/recipes.db')
curr = conn.cursor()

recipe_with_review = """
    SELECT COUNT(*)
    FROM Review
    WHERE rating >= 4 AND review = ''
    GROUP BY recipe_id;"""

curr.execute(recipe_with_review)
total = curr.fetchall()

pp(len(total))

0

10. Найдите кол-во рецептов, опубликованных в 2010 году и имеющих длину не менее 15 минут.

In [32]:
conn = sqlite3.connect('./sem6/recipes.db')
curr = conn.cursor()

number_recipe = """
    SELECT COUNT(*)
    FROM Recipe
    WHERE (submitted BETWEEN '2010-01-01' AND '2010-12-31') AND minutes >= 15;"""

curr.execute(number_recipe)
total = curr.fetchall()

print(total[0][0])

1319

11. Выберите id рецепта, название рецепта, id пользователя, оставившего отзыв, дату отзыва и рейтинг для тех рецептов, которые имеют не менее 3 ингредиентов. Отсортируйте результат по id рецепта.

In [33]:
curr.close()
conn.close()